################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WeightedLotteryDraft/bin/Debug/netcoreapp3.1
/WeightedLotteryDraft/obj
